<div ng-controller="OrderCtrl" id="mainOrderDiv">

    <div id="alerts">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>

    <div id="searchOrderDiv" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Search book orders</h3>
        </div>
        <div class="panel-body">
            <form class="form-inline">
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="orderIdSearchMode" value="orderId"
                               ng-model="orderSearch.mode" ng-checked="isOrderIdSearchMode()"/>
                        orderId
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="lastnameSearchMode" value="lastname" ng-model="orderSearch.mode"
                               ng-checked="!isOrderIdSearchMode()"/>
                        customer lastname
                    </label>
                </div>
                <input type="text" ng-model="orderSearch.value" ng-model-instant>
                <button ng-click="searchOrder()" ng-disabled="!isValidSearch()"
                        class="btn btn-sm glyphicon glyphicon-search">Search
                </button>
            </form>
        </div>
    </div>
    <div id="searchResultDiv" ng-show="lastOrderSearch" ng-class="ng-hide" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">result of search [value:{{lastOrderSearch.value}} - mode:{{lastOrderSearch.mode}}] :
                {{orderSearchResult.totalNbResults}}</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed table-hover">
                <thead>
                <tr>
                    <th class="id">orderId</th>
                    <th class="name">customer</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in orderSearchResult.orders" ng-click="selectOrder(order)">
                    <td>{{order.orderId}}</td>
                    <td>{{order.customerFirstname}} - {{order.customerLastname}}</td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
    <div id="orderEditorDiv" ng-show="selectedOrder.editedOrder" ng-class="ng-hide" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">order {{selectedOrder.editedOrder.orderId}}</div>
                        <div class="col-md-6 text-right">
                           <span class="btn-group">
                                <button type="button" class="btn  btn-sm glyphicon glyphicon-send"
                                        ng-disabled="!selectedOrder.editedOrder.needConfirmation"
                                        ng-click="confirmEditedOrder()">Confirm</button>
                <button type="button" class="btn  btn-sm glyphicon glyphicon-share-alt" ng-disabled="!isSelectedOrderModified()"
                        ng-click="revertEditedOrder()">Revert</button>
                <button type="button" class="btn  btn-sm glyphicon glyphicon-save" ng-disabled="!isSelectedOrderModified()"
                        ng-click="saveEditedOrder()">Save</button>
                            </span>
                        </div>
                    </div>
                </div>
            </h3>

        </div>
        <div class="panel-body">

            <div id="orderEditor">
                <label class="radio-inline">
                    amount: $USD<input type="text" ng-model="selectedOrder.editedOrder.amount"/>
                </label>
            </div>

            <div id="booksOfOrder" class="panel panel-default">
                <div class="panel-heading">books:</div>
                <div class="panel-body">
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                        <tr>
                            <th class="id">title</th>
                            <th class="name">isbn</th>
                            <th class="name">price</th>
                            <th class="action">action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="book in selectedOrder.editedOrder.books" ng-click="selectBookInOrder(book)">
                            <td>{{book.title}}</td>
                            <td>{{book.isbn}}</td>
                            <td>{{book.price}}</td>
                            <td>
                                <button type="button" class="btn btn-sm glyphicon glyphicon-remove"
                                        ng-click="removeBookFromEditedOrder(book)"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div id="newBook" class="panel panel-default">
                <div class="panel-heading">new book:</div>
                <div class="panel-body">
                    <form class="form-inline">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <input type="text" class="form-control" id="inputNewBookISBN" placeholder="ISBN"
                                           ng-model="newBookIsbn" ng-model-instant>
                                    <input type="text" class="form-control" id="inputNewBookTitle" placeholder="Title"
                                           ng-model="newBookTitle" ng-model-instant>
                                    <button class="btn btn-sm glyphicon glyphicon-plus"
                                            ng-click="addBook()" ng-disabled="!canAddBookToOrder()"></button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

